<section>
  <div class="d-flex justify-content-center">

    <div class="animals"> <img class="mx-auto" src="images/top_img.jpg" class="rounded mx-auto d-block" width="600"
        height="400" alt="dog, cat, turtle"></div>
        </div>
    <div>

      <div style="height: 1px;0px;border-top:50px solid #EBD4FC"></div>
    </div>

<div class="d-flex justify-content-center circles">
    <img class="img-responsive" src="images/cats.png" width="200" height="200" alt=" Cats clipart">
    <img class="img-responsive" src="images/dogs.png" width="200" height="200" alt="Dogs clipart">
    <img class="img-responsive" src="images/turtles.png" width="200" height="200" alt="Turtle clipart">
    </div>
    <p>
    <h2 class="text-center ">Pets Available For Adoption</h2>
    </p>

    <div class="d-flex justify-content-center boxes">
    <img class="img-responsive" src="images/Nebraska.jpg" width="200" height="200" alt=" Cats clipart">
    <img class="img-responsive" src="images/Taco.jpg" width="200" height="200" alt="Dogs clipart">
    <img class="img-responsive" src="images/Tank.jpg" width="200" height="200" alt="Turtle clipart">
    </div>
    
  

</section>