
<section>
<div>
  <p>Photo girl hugging dog here</p>
  <p>Circles in process need rezising</p>
  
    <img class="img-responsive"  src="images/cats.png" width="200" height="200" alt=" Cats clipart" >
      <img class="img-responsive" src="images/dogs.png"width="200" height="200" alt="Dogs clipart" >
      <img class="img-responsive" src="images/turtles.png"width="200" height="200" alt="Turtle clipart" >
  <p><h2>Pets Available For Adoption</h2></p>
   <p>Picture of 3 pets</p>
   <p>End of original homepage Section. Animal galleries go below this</p>
</div>

</section>
     
