
<section>
<div>
  <p>Photo girl hugging dog here</p>
  <p>Circles in process need rezising</p>
  <img src="images/turtles.png">
  <p><h2>Pets Available For Adoption</h2></p>
   <p>Picture of 3 pets</p>
   <p>End of originam homepage Section. Animal galleries go below this</p>
</div>

</section>
     
