<section>
    <h1 id="Login-Title">LOGIN</h1>
    <div class="row mx-auto">
        <div class="row justify-content-center">
            <div class="col-sm-4 p-2">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email">
            </div>
        </div>
        <div class="row justify-content-center">
             <div class="col-sm-4 p-2">
                 <input type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>  
        </div>
         <div class="row justify-content-center">
             <div class="d-grid col-sm-4">
                 <button class="btn Sign-Button" type="button">Log in</button>
            </div>  
        </div>
          <div class="row justify-content-center">
             <div class="d-grid col-sm-4 p-2">
                <p class="Sign-Up-Redirect">Need an account? <a href="/signup"> Sign Up</a></p> 
            </div>  
        </div>     
    </div>   
</section>