
<section>
    <h1 id="Sign-Up-Title">Sign Up</h1>
    <div class="row row-cols-2">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
         <div class="col">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</section>