<form class="signup-form">
     <h1 id="Sign-Up-Title">SIGN UP</h1>
    <div class="row mx-auto">
        <div class="row justify-content-center">
            <div class="col-sm-4 p-2">
                <input type="text" class="form-control" id="inputFirstName" placeholder="First name" aria-label="First name">
            </div>
        </div>
        <div class="row justify-content-center">
             <div class="col-sm-4 p-2">
                 <input type="text" class="form-control" id="inputLastName" placeholder="Last name" aria-label="Last name">
            </div>  
        </div>
         <div class="row justify-content-center">
             <div class="col-sm-4 p-2">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email" aria-label="Email">
            </div>  
        </div>
           <div class="row justify-content-center">
             <div class="col-sm-4 p-2">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" aria-label="Password">
            </div>  
        </div>
         <div class="row justify-content-center">
             <div class="col-sm-4 p-2">
                  <input type="text" class="form-control" id="inputTelephone" placeholder="Telephone" aria-label="Telephone">
            </div>  
        </div>
         <div class="row justify-content-center">
             <div class="d-grid col-sm-4">
                 <button class="btn SignUp-Button" id="signUpBtn" type="button">Sign Up</button>
            </div>  
        </div>
    </div>  
</form>

<script src="/js/signup.js"></script>