<section>
    <h1 id="Sign-Up-Title">Sign Up</h1>
    <div class="row mx-auto">
        <div class="col-sm-6 p-2">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col-sm-6 p-2">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
  <div class="row mx-auto">
        <div class="col-sm-6 p-2">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="col-sm-6 p-2">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password">
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-sm-6 p-2">
            <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone">
        </div>
    </div>

    <div class="d-grid col-6 mx-auto">
        <button class="btn SignUp-Button" type="button">Sign Up</button>
                {{!-- <button class="btn btn-secondary SignUp-Button" type="button">Sign Up</button> --}}

    </div>


   
</section>