* {
    margin: 0;
    padding: 0;
}

/* Dynamic Horizontal Navigation Bar */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: purple;
}
.nav-link{
    color: purple;
    text-transform: uppercase;
}


.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: purple;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#nav-logo {
    display: inline-block;
    padding: 5px;
    width: 150px;
}

.circles img {
    margin-right: 10%;
    max-width: 100%;
}

.circles {
    margin-top: -2%;
    max-width: 100%;
}

.boxes img {

    margin-right: 10%;
}

.boxes {

    margin-bottom: 10%;
}


/*Sign Up*/
/*Login*/
#Sign-Up-Title,
#Login-Title,
#homePage-Subtitle,
#shoppingBasket-Title {
    color: purple;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.Sign-Up-Redirect {
    color: purple;
    margin-top: 24px;
    text-align: center;
}

.Sign-Up-Redirect a {
    color: black;
    text-align: center;
}

.SignUp-Button,
.Sign-Button,
.checkout-Button {
    background-color: purple;
    color: white;
    margin-top: 24px;
    padding-top: 12px;
}

.SignUp-Button:hover {
    background-color: light purple;
    color: black;
}

/*Media Queries*/
@media screen and (max-width: 600px) {

    .animals img,
    .circles img,
    .circles,
    .banner img {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .mainNavBar, .boxes{
        flex-direction: column;
    }
}

