*{
    margin:0;
    padding:0;
}

/* Horizontal Navigation Bar */
.horizontal-nav-bar{
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
}

.horizontal-nav-bar li{
    display: inline-block;
    margin-left: 25px;
    color: purple;
}

.horizontal-nav-bar a{
    color: black;
}

.horizontal-nav-bar a:hover, .horizontal-nav-bar-second-row a:hover{
    color: purple;
    }

.horizontal-nav-bar-second-row a{
    color: black;
    font-size: 15px;
}

#nav-logo {
    display: inline-block;
    padding: 5px;
    width: 150px;
}


.circles img {
    margin-right: 10%;
    max-width: 100%;
}

.circles  {
    margin-top: -2%;
    max-width: 100%;
}

.boxes img {

    margin-right: 10%;
}

.boxes {

    margin-bottom:10%;
}


/*Sign Up*/
/*Login*/
#Sign-Up-Title, #Login-Title, #homePage-Subtitle{
    color: purple;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.Sign-Up-Redirect {
    color: purple;
    margin-top: 24px;
    text-align: center;
}
.Sign-Up-Redirect a{
    color: black;
    text-align: center;
}

.SignUp-Button ,
.Sign-Button {
    background-color: purple;
    color: white;
    margin-top: 24px;
    padding-top: 12px;
}

.SignUp-Button:hover{
background-color: light purple;
color: black;
}


/*Media Queries*/
 @media screen and (max-width: 600px) {
   .animals img, .circles img, .banner img {
    width: 100%;
    height: auto; 
   } 
   .mainNavBar, .bottomNavBar{
    flex-direction: column;
   }
  }

