
/*General Reset*/
*{
    margin:0;
    padding:0;
}
 /* Ids*/

 #nav-logo {
    display: inline-block;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

/*Classes*/

/* Horizontal Navigation Bar */
.horizontal-nav-bar{
    padding-top: 30px;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    list-style-type: none;
    

    /*Check positioning*/
    float: right;
    position: relative;
}

.horizontal-nav-bar li{
    display: inline-block;
    margin-left: 25px;
   
}

.horizontal-nav-bar a{
    color: black;
}







/*Dynamic navigation*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:purple;
  }
  

.horizontal-nav-bar a{
    color: black;
}
.horizontal-nav-bar a:hover{
    color: purple;
}
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:purple;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/*Circle Navigation*/

.circles img {
    margin-right: 10%;
    max-width: 100%;
    cursor: pointer;
}

.circles  {
    margin-top: -2%;
    max-width: 100%;
}


#Sign-Up-Title, #Login-Title, #homePage-Subtitle{
    color: purple;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.Sign-Up-Redirect {
    color: purple;
    margin-top: 24px;
    text-align: center;
}
.Sign-Up-Redirect a{
    color: black;
    text-align: center;
}

.SignUp-Button ,
.Sign-Button {
    background-color: purple;
    color: white;
    margin-top: 24px;
    padding-top: 12px;
}

.SignUp-Button:hover{
background-color: light purple;
color: black;
}


/*Media Queries*/
 @media screen and (max-width: 600px) {
   .animals img, .circles img, .circles, .banner img {
    width: 100%;
    height: auto; 
    flex-direction: column;
   } 

   .mainNavBar {
    flex-direction: column;
   }
  }


