/*Start with HTML semantic tags*/


/*Id*/



/*Classes*/
/* Horizontal Navigation Bar */
.horizontal-nav-bar{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
}

.horizontal-nav-bar li{
    display: inline-block;
    margin-left: 25px;
    color: purple;
}

.horizontal-nav-bar a{
    color: black;
}

.horizontal-nav-bar-second-row a{
    color: black;
    font-size: 24px;
}

#nav-logo {
    display: inline-block;
    padding: 5px;
    width: 150px;
}

/*Sign Up*/
#Sign-Up-Title {
    color: purple;
}

.SignUp-Button {
    background-color: purple;
    color: white;
}

.SignUp-Button:hover{
background-color: light purple;
color: black;
}

/*Responsive*/